:root {
    --main-color: #0ad2dc;
    --second-color: #ffa000;
}

body {
    margin: auto 0;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

.header_container {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 80px 100px;
}

.nav_container {
    margin-right: 100px;
    display: flex;
    align-self: center;
}

.nav_link {
    text-decoration: none;
    color: black;
    font-size: 17px;
    padding: 0 20px 0 20px;
    letter-spacing: 0.5px;
}

.nav_link:hover {
    color: var(--main-color)
}

.coworking_container {
    display: flex;
}

.image_container {
    width: 70%;
    height: 100%;
}

.image_container>img {
    width: 100%;
    overflow: hidden;
}

.contents {
    width: 50%;
    margin: 125px 250px 125px 100px;
}

.contents>h1 {
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 4px;
    padding-bottom: 10px;
}

.contents>h2 {
    font-size: 38px;
    letter-spacing: 1px;
    margin: 0;

}

.contents>p {
    font-size: 1.15rem;
    line-height: 30px;
    padding-bottom: 10px;
}

p:nth-child(5) {
    margin-top: 55px;
}

p:nth-child(7) {
    font-weight: bold;
    margin-bottom: 50px;
}

button {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    padding: 15px 20px 15px 20px;
    border-radius: 0.5rem;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    border: 0;
}

button:hover {
    background-color: var(--second-color);
}

.facilities_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.facilities_container>h1 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1px;

}

.facilities_container>p {
    max-width: 700px;
    font-size: 20px;
    text-align: center;
    line-height: 1.25;
    letter-spacing: 0.2px;
    margin-top: 0;
}

.facilities {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 100px;
}

.facilities_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    margin: 0 50px 0 50px;
}

.icon_container {
    background-color: var(--main-color);
    padding: 15px;
    border-radius: 12rem;
    width: 25px;
    text-align: center;
}

.facilities_content>h6 {
    font-size: 17px;
    max-width: 170px;
    text-align: center;
    margin-bottom: 0;
}

.facilities_content>p {
    margin: 0;
}

.why_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;

}

.why_title {
    width: 50%;
}

.why_title>h2 {
    margin-top: 200px;
    font-size: 40px;
    margin-bottom: 0;
}

.why_title>p {
    max-width: 390px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.why_content_container {
    min-width: 50%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
}

.container_info {
    max-width: 420px;
}

.why_content {
    display: flex;
    align-items: flex-start;
}

.why_content>p {
    font-size: 20px;
    margin: 0 0 30px 20px;
}

@media (max-width: 800px) {
    .logo {
        width: 400px;
        margin: auto;
        margin-bottom: 40px;
    }

    .header_container {
        flex-direction: column;
        margin: 50px;
    }

    .nav_container {
        margin: auto;
    }

}

@media (max-width: 500px) {

    .nav_link {
        font-size: 12px;
    }

    .main_container {
        flex-direction: column;
    }
}